@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

*,
body{
  font-family: "Circular";
}

/* stile scrollbar*/
#main {
  overflow-y: scroll;
  height: calc(100vh - 62px);
  background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 39%, rgba(71,71,71,1) 93%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 39%, rgba(71,71,71,1) 93%);
background: linear-gradient(0deg, rgba(0,0,0,1) 39%, rgba(71,71,71,1) 93%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#474747",GradientType=1);
}

#main::-webkit-scrollbar {
  width: 10px;
}

#main::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#main::-webkit-scrollbar-thumb {
  background: #888;
}

#main::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* fine stile scrollbar*/


